* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img {
  max-width: 100%;
}

span, label {
  display: inline-block;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-Gilroy;
  font-style: normal;
  font-display: swap;
}

input, textarea {
  outline: none;
  border: 0;
  background: transparent;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
  outline: 0;
}

address {
  font-style: normal;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

ul, ol, dl {
  list-style: none;
  padding: 0;
  margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

.container {
  max-width: calc(1465px);
  margin: 0 auto;
  padding: 0 20px;
}

.section-top {
  margin-top: 100px;

  @include media('lg') {
    margin-top: 50px;
  }
}

.blue_btn {
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  color: $color-white;
  background: $color-blue;
  height: 54px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 334px;

  @include media('lg') {
    padding: 10px 8px;
    height: 40px;
    font-size: 16px;
  }
}
