// fonts
$font-Gilroy: "Gilroy", sans-serif;
// fonts

// colors
$color-white: #FFFFFF;
$color-black: #000000;
$color-dark: #1E1E1E;
$color-dark-2: #3D3D3D;
$color-blue: #336CFA;
$color-grey: #F2F6FF;
$color-grey-2: #8F8F8F;
$color-green-light: #455A64;
$color-orange: #FF4127;
// colors
