.header {
  padding: 22px 20px;
  background: $color-blue;

  &_in {
    display: flex;
    align-items: center;
    justify-content: end;
    max-width: 1715px;
    margin: auto;
  }

  .register_btn {
    margin-left: auto;
    font-weight: 700;
    font-size: 25px;
    line-height: 20px;
    color: $color-white;
    border-radius: 10px;
    padding: 17px;
    height: 54px;
    width: 256px;
    background: $color-orange;

    @include media('lg') {
      font-size: 18px;
      line-height: 20px;
      padding: 5px;
      height: 31px;
      width: 160px;
    }
  }
}
